# Kafka Cluster Configuration
KAFKA_SERVER=localhost:9092
KAFKA_TOPIC=iot_telemetry

# Snowflake Credentials
SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password