venv/
node_modules/
kafka_2.13-4.3.1/
kafka-4.3.1-src/
__pycache__/
*.pyc
.env
*.log
.DS_Store
profiles.yml
.dbt/
logs/
dbt/atmo_sync/logs/
dbt/atmo_sync/target/
dbt/atmo_sync/dbt_packages/
*.backup_*
*.bak